.custom-select {
  position: relative;
  width: 120px;
  font-family: Arial, sans-serif;
  color: var(--primary-white);
  border-radius: 0.625rem;
  border: none;
  background-color: var(--primary-black-50);
  margin-bottom: 1rem;
}

.custom-select__border.custom-select__border {
  border-radius: 0.625rem 0.625rem 0 0;
}

.custom-select__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.selected {
  padding: 0.625rem;
  border-radius: 0.625rem;
  color: var(--primary-white);
  border: none;
  background-color: var(--primary-black-50);
  text-align: center;
  cursor: pointer;
}

.options-container {
  display: none;
  position: absolute;
  border-radius: 0.625rem;
  width: 100%;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-light-gray);
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.option {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.options--open {
  display: block;
  position: absolute;
  background-color: var(--primary-black-80);
  width: 120px;
  border-radius: 0 0 0.625rem 0.625rem;
  z-index: 100;
}

.options--open div {
  padding-left: 1.6rem;
}

.options--closed {
  display: none;
}

.option img {
  margin-right: 0.5rem;
}
